.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}
.icon {
    height: 48px;
    width: 48px;
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.border-stories-active {
    border-radius: 60px;
    padding: 3px;
    background: linear-gradient(184deg, rgba(201,19,185,1) 0%, rgba(249,55,63,1) 35%, rgba(254,205,0,1) 100%);
}

.border-stories-disabled {
    border-width: 3px;
    border-style: solid;
    border-color: #bcbcbc;
    border-radius: 60px;
}